*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
}
.logo{ 
   float: left;
   width: 300px;
}
.logo-mail{
    width: 280px;
    height: 280px;
}
.main{
    padding-top: 25px;
    float: right;
    width: 475px;
}
.main div{
    padding-bottom: 25px;
}
.form-subcb{
    display: flex;
    flex-direction: row;
    height:fit-content;
}
.form-subcb__sub{
    width: 150px;
    height: 50px;
}
.signupbtn{
    font-size: 20px;
    width: 150px;
    height: 50px;
}
li::marker{
    color: rgb(63, 183, 223);
}
h1{
    padding-bottom: 25px;
}
input{
    width: 450px;
    height: 30px;
}
label > p{
    font-weight: bold;
    padding-bottom: 10px;
}
.nosub{
    text-decoration: none;
}
a:visited{
    color: blue;
}